body {
  font-family: 'Mina', sans-serif;
}

.video-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 28px;
  margin-top: 80px;
  margin-bottom: 50px;
  color: rgb(37, 37, 37);
}

.video {
  width: 460px;
  margin: 10px;
  padding: 10px 10px 1px;
  background: #000000;
}

.video iframe {
  display: block;
  margin: 0 auto;
  width: 460px;
  height: 240px;
  border: none;
}

.video .date {
  margin: 6px 0 0 0;
  text-align: right;
  font-size: 80%;
  color: #cccccc;
}